@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-1: #023d46b6;
  --main-2: #ffffffe7;

  --bg-blk-1: #00000036;
  --bg-blk-2: #00000062;
  --bg-blk-3: #000000c4;
  --bg-blk-4: #000000e4;

  --bg-wht-1: #ffffff62;
  --bg-wht-2: #ffffff27;

  --fs-xlarge: 2.6em;
  --fs-xlarge: 2.3em;
  --fs-large: 1.8em;
  --fs-xmedium: 1.5em;
  --fs-medium: 1.2em;
  --fs-small: 1em;

  --br-radius: 2px;
}

body {
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.1em;
  background-color: var(--main-1);
  background: url("./img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app {
  padding: 1em;
  margin-inline: 0.5em;
  border-radius: var(--br-radius);
  position: relative;
}

.site-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1em;
  background: var(--main-1);
  border-radius: var(--br-radius);
}

.site-name {
  font-size: var(--fs-large);
  font-weight: 400;
  color: whitesmoke;
}

.main-data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

.main-data > * {
  border-radius: var(--br-radius);
}

.location-detail--main {
  background-color: var(--bg-wht-1);
  padding: 1em;
  flex: 3 1 6em;
  line-height: 1.4em;

  display: flex;
  flex-direction: column;
  position: relative;
}

.location--main {
  font-size: var(--fs-xmedium);
  word-spacing: -0.6em;
}

.date--main,
.time--main {
  opacity: 0.8;
}

.geo-suggestions {
  position: absolute;
  top: 4em;
  background-color: var(--main-2);
  border-radius: var(--br-radius);
  width: 80%;
  z-index: 3;
}

.suggestion-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em;
  margin: 0.4em 0.1em;
}

.suggestion-el:hover {
  background-color: var(--bg-blk-2);
  border-radius: var(--br-radius);
  color: white;
}

.state {
  opacity: 0.6;
  font-size: 80%;
}

.additional-data {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

.additional-data > * {
  flex: 1;
  background-color: var(--bg-wht-1);
  border-radius: var(--br-radius);
  padding: 1em;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2em;
}

.additional-data .lable--ad {
  font-size: var(--fs-medium);
  opacity: 0.7;
}

.additional-data .data--ad {
  font-size: var(--fs-xmedium);
}

.condition--ad {
  background-position: center;
  background-size: cover;
  color: #e2e2e2;
  text-shadow: 2px 2px 4px #000000;
}

.condition-desc.desc--ad {
  opacity: 0.8;
}

.icon--ad {
  width: 80%px;
  position: absolute;
  opacity: 0.09;
}

.bg-video {
  background-color: #f6460b;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.net-status {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* translate: 50% -50%; */
  color: #f6460b;
  font-size: var(--fs-medium);
}

a {
  text-decoration: none;
  color: black;
}

.git-signature img {
  width: 20px;
  translate: 0 2px;
  cursor: pointer;
}

.back-drop.show {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@media (max-width: 500px) {
  .app {
    padding: 0;
  }

  .main-data > * {
    flex: 100%;
  }

  .location-detail--main {
    text-align: center;
  }

  .condition--ad {
    flex: 100%;
    padding-block: 2em;
  }

  .main-data,
  .additional-data {
    gap: 0.5em;
    margin-top: 0.5em;
  }
}
