@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-1: #023d46b6;
  --main-2: #ffffffe7;

  --bg-blk-1: #00000036;
  --bg-blk-2: #00000062;
  --bg-blk-3: #000000d8;

  --bg-wht-1: #ffffff62;
  --bg-wht-2: #ffffff27;

  --fs-xlarge: 2.6em;
  --fs-xlarge: 2.3em;
  --fs-large: 1.8em;
  --fs-xmedium: 1.5em;
  --fs-medium: 1.2em;
  --fs-small: 1em;

  --br-radius: 2px;
}

body {
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.1em;
  background-color: var(--main-1);
  background: url("./img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app {
  padding: 1em;
  margin-inline: 0.5em;
  border-radius: var(--br-radius);
}

.site-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1em;
  margin-bottom: 1em;
  background: var(--main-1);
  border-radius: var(--br-radius);
}

.site-name {
  font-size: var(--fs-large);
  font-weight: 400;
  color: whitesmoke;
}

.main-data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.main-data > * {
  border-radius: var(--br-radius);
}

.location-detail--main {
  background-color: var(--bg-wht-1);
  padding: 1em;
  flex: 3 1 6em;
  line-height: 1.4em;

  display: flex;
  flex-direction: column;
}

.location--main {
  font-size: var(--fs-xmedium);
  word-spacing: -0.6em;
}

.date--main,
.time--main {
  opacity: 0.8;
}

.temp-detail--main {
  flex: 1;
  background-color: var(--bg-wht-1);
  padding: 1em;
  text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

.unit-switch-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  bottom: 0.2em;
  left: 0.2em;
  background-color: transparent;
  border: 1px solid var(--bg-blk-2);
  padding-inline: 0.2em;
  border-radius: var(--br-radius);
  cursor: pointer;
  z-index: 2;
  overflow: hidden;
}

.switch-label {
  opacity: 0;
  margin-left: -87px;
  transition: margin-left 0.5s;
  transition-duration: 0.5s;
}

.switch-label.show {
  opacity: 1;
  margin-left: 0px;
}

.switch-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: inherit;
  width: 22px;
  height: 22px;
  border: none;
}

.switch-label,
.switch-btn {
  font-weight: 600;
  font-size: 16px;
}

.unit-switch-btn:hover {
  background-color: var(--bg-blk-3);
  color: whitesmoke;
}

.temp-detail--main.anim {
  animation: anim 1s;
}

.city-name--main {
  font-size: var(--fs-medium);
  opacity: 0.8;
}

.temp--main {
  font-size: var(--fs-xlarge);
}

.temp--main,
.feels-like--main {
  word-spacing: -0.6em;
}

.feels-like--main {
  opacity: 0.8;
}

.form {
  position: relative;
}

.input-el {
  display: flex;
  justify-content: center;
  gap: 0.4em;
  margin-block: 1em;
  background-color: var(--bg-wht-1);
  padding: 1em;
  border-radius: var(--br-radius);
}

.input-field {
  width: 100%;
  height: 2em;
  border: none;
  border-radius: var(--br-radius);

  font-family: inherit;
  font-size: var(--fs-medium);
  text-align: center;

  transition: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease;

  border-radius: var(--br-radius);
  background-color: var(--bg-wht-1);
  outline: none;
}

.input-field:hover,
.input-field:focus {
  border: 1px solid var(--bg-blk-2);
}

.geo-suggestions {
  position: absolute;
  top: 4em;
  background-color: var(--main-2);
  border-radius: var(--br-radius);
  width: 80%;
  z-index: 3;
}

.suggestion-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em;
  margin: 0.4em 0.1em;
}

.suggestion-el:hover {
  background-color: var(--bg-blk-2);
  border-radius: var(--br-radius);
  color: white;
}

.state {
  opacity: 0.6;
  font-size: 80%;
}

.additional-data {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.additional-data > * {
  flex: 1;
  background-color: var(--bg-wht-1);
  border-radius: var(--br-radius);
  padding: 1em;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2em;
}

.additional-data .lable--ad {
  font-size: var(--fs-medium);
}

.additional-data .data--ad {
  font-size: var(--fs-xmedium);
}

.condition--ad {
  background-position: center;
  background-size: cover;
  color: #e2e2e2;
  text-shadow: 2px 2px 4px #000000;
}

.condition-desc.desc--ad {
  opacity: 0.8;
}

.icon--ad {
  width: 80%px;
  position: absolute;
  opacity: 0.09;
}

.bg-video {
  background-color: #f6460b;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.net-status {
  display: flex;
  justify-content: center;
  justify-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  color: #f6460b;
  font-size: var(--fs-xmedium);
  z-index: 3;
}

a {
  text-decoration: none;
  color: black;
}

.git-signature img {
  width: 20px;
  translate: 0 2px;
  cursor: pointer;
}

.back-drop.show {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 1005;
  z-index: 2;
}

@keyframes anim {
  from {
    background-color: var(--bg-wht-1);
    scale: 1;
  }
  50% {
    background-color: var(--bg-blk-2);
    color: whitesmoke;
    scale: 1.1;
  }
  100% {
    background-color: var(--bg-wht-1);
    scale: 1;
  }
}

@media (max-width: 500px) {
  .app {
    padding: 0;
  }

  .main-data > * {
    flex: 100%;
  }

  .location-detail--main {
    text-align: center;
  }

  .temp-detail--main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .city-name--main {
    font-size: var(--fs-large);
    opacity: 1;
    text-align: left;
  }

  .condition--ad {
    flex: 100%;
    padding-block: 2em;
  }

  .site-title-container {
    margin-bottom: 0.5em;
  }

  .main-data,
  .additional-data {
    gap: 0.5em;
  }

  .input-el {
    margin-block: 0.5em;
  }
}
