.body-thunderstorm {
  background-image: url("./img/weather/thunderstorm.jpg");
}
.body-drizzle {
  background-image: url("./img/weather/drizzle.jpg");
}
.body-rain {
  background-image: url("./img/weather/rain.jpg");
}
.body-clear {
  background-image: url("./img/weather/cleary-sky.jpg");
}
.body-snow {
  background-image: url("./img/weather/snow.jpg");
}
.body-mist {
  background-image: url("./img/weather/mist.jpg");
}
.body-smoke {
  background-image: url("./img/weather/smoke.jpg");
}
.body-haze {
  background-image: url("./img/weather/haze.jpg");
}
.body-dust {
  background-image: url("./img/weather/dust.jpg");
}
.body-fog {
  background-image: url("./img/weather/fog.jpg");
}
.body-sand {
  background-image: url("./img/weather/sand.jpg");
}
.body-dust {
  background-image: url("./img/weather/dust.jpg");
}
.body-ash {
  background-image: url("./img/weather/ash.jpg");
}
.body-squall {
  background-image: url("./img/weather/squall.jpg");
}
.body-tornado {
  background-image: url("./img/weather/tornado.jpg");
}
.body-ash {
  background-image: url("./img/weather/ash.jpg");
}
.body-clouds {
  background-image: url("./img/weather/clouds.jpg");
}
