.condition--ad.thunderstorm {
  background-image: url("./img/weather/thunderstorm.jpg");
}
.condition--ad.drizzle {
  background-image: url("./img/weather/drizzle.jpg");
}
.condition--ad.rain {
  background-image: url("./img/weather/rain.jpg");
}
.condition--ad.clear {
  background-image: url("./img/weather/cleary-sky.jpg");
}
.condition--ad.snow {
  background-image: url("./img/weather/snow.jpg");
}
.condition--ad.mist {
  background-image: url("./img/weather/mist.jpg");
}
.condition--ad.smoke {
  background-image: url("./img/weather/smoke.jpg");
}
.condition--ad.haze {
  background-image: url("./img/weather/haze.jpg");
}
.condition--ad.dust {
  background-image: url("./img/weather/dust.jpg");
}
.condition--ad.fog {
  background-image: url("./img/weather/fog.jpg");
}
.condition--ad.sand {
  background-image: url("./img/weather/sand.jpg");
}
.condition--ad.dust {
  background-image: url("./img/weather/dust.jpg");
}
.condition--ad.ash {
  background-image: url("./img/weather/ash.jpg");
}
.condition--ad.squall {
  background-image: url("./img/weather/squall.jpg");
}
.condition--ad.tornado {
  background-image: url("./img/weather/tornado.jpg");
}
.condition--ad.ash {
  background-image: url("./img/weather/ash.jpg");
}
.condition--ad.clouds {
  background-image: url("./img/weather/clouds.jpg");
}
