.loading-el {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading-ripple.anim div {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: 3px solid var(--main-1);
  opacity: 1;
  border-radius: 50%;
  animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media (max-width: 500px) {
  .loading-el {
    position: absolute;
    left: revert;
    right: 50px;
  }
}
