.temp-detail--main {
  flex: 1;
  background-color: var(--bg-wht-1);
  padding: 1em;
  text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

.switch-btn {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  margin: auto;
  width: 20px;
  color: var(--bg-blk-2);
  background-color: transparent;
  border-top: 1px solid var(--bg-blk-2);
  border-left: 1px solid var(--bg-blk-2);
  border-radius: 55% 0 0 0;
  padding: 1px 2px;
}

.switch-btn:hover {
  background-color: var(--bg-blk-3);
  color: whitesmoke;
}

.switch-close-btn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 0.5em;
  color: whitesmoke;
  background-color: transparent;
}

.switch-btn,
.switch-label,
.switch-close-btn {
  z-index: 2;
}

.temp-detail--main.anim {
  animation: anim 0.5s;
}

.city-name--main {
  font-size: var(--fs-medium);
  opacity: 0.8;
}

.temp--main {
  font-size: var(--fs-xlarge);
}

.temp--main,
.feels-like--main {
  word-spacing: -0.6em;
}

.feels-like--main {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .temp-detail--main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .city-name--main {
    font-size: var(--fs-large);
    opacity: 1;
    text-align: left;
  }
}

@keyframes anim {
  from {
    background-color: var(--bg-wht-1);
    scale: 1;
  }
  50% {
    background-color: var(--bg-blk-2);
    color: whitesmoke;
    scale: 1.05;
  }
  100% {
    background-color: var(--bg-wht-1);
    scale: 1;
  }
}
